./* Building {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-building {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
} */

.benefits-div {
  margin-top: 3%;
}

.benefit-h2 {
  color: red;
  text-align: center;
  font-weight: 600;
}

.benefits-h1 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.benefit {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  max-width: 500px;
  padding: 20px;
  background: #fff;
  align-items: center;
  position: relative;
}

.benefit img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  margin-right: 20px;
  object-fit: cover;
}

.benefit i {
  position: absolute;
  background-color: red;
  color: white;
  padding: 15px;
  top: -10px;
  right: -10px;
  border-radius: 50%;
}

.Timetable h4 {
  color: red;
  margin-top: 30px;
}

.Timetable h1 {
  margin-bottom: 20px;
}

.Timetable table th {
  background-color: black;
  color: white;
}
